.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-ttl {
    margin: 10px 10px;
    color: navy;
}

.header-nav {
    font-weight: bold;
    color: navy;
    margin: 0 0 0 auto;
}

li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

.main {
    box-sizing: border-box;
    margin: 70px 0;

}

.main-heading {
    position: absolute;
    font-size: 5vw;
    top: 17%;

}

.main-box {
    position: relative;
    border: solid 1px navy;
    background-color: navy;
    width: 130%;
    height: 16vw;
    z-index: 10;
    top: 22vw;
    right: 50%;
}

.main-img {
    position: absolute;
    left: 50%;
    z-index: 20;
}

img {
    width: 50%;
}